<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in get rich or die trying website</title>
    <h1>Welcome to Get Rich or Die Trying Website</h1>
    <h2>You are {{ username }}</h2>
    <h2>Your ID number is {{id_number}}</h2>
</head>
    <body>
        <p>Enter the number of stocks:</p>
            <form>
                <p><input name="number" /></p>
                <p><input type="submit" value="Buy" /></p>
                <p><input type="submit" value="Sell" /></p>
            </form>
    </body>
</html>

