{% extends "layout.html" %}
{% block content %}
    <br><br><br>
    <h1>Get Rich or Die Trying Trading platform</h1>
    <h2>Welcome {{user_account.name}},                 Today is {{current_date}}</h2>
    There is {{user_account.portfolio.cash_account.value()}} euro in your account
    <br><br>
    <form method="post">
        <p><input type="number" name="cash" /></p>
    </form>
    <br>
    <h2>Securities:</h2>
    {{user_account.portfolio.fin_products}}
    <br>
    <h2>Portfolio value:</h2>
    {{user_account.portfolio.value(market,current_date)}}
    <br><br>
    <h2>Pending trades</h2>
    {{user_account.trade_list}}
    <br>
    <form method="post">
        <p><button type="submit" name="add_trade"/>Add trades</p>
    </form>
    <br><br>
    <form method="post">
        <p><button type="submit" name="execute_trades"/>Execute trades</p>
    </form>
{% endblock content%}