<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>Get Rich or Die Trying - {{ title }}</title>
    {% else %}
    <title>Get Rich or Die Trying</title>
    {% endif %}
    <h1>Git Rich or Die Trying Trading platform</h1>
    <h2><p style="text-align:left;">
    Welcome {{user_account.name}}
    <span style="float:right;">
        Today is {{current_date}}
    </span>
    </p></h2>
    <HR>


</head>
<body>
There is {{user_account.portfolio.cash_account.value()}} euro in your account
    <br>
    <br>
    add cash:
    <form method="post">
        <p><input type="number" name="cash" /></p>
    </form>
    <HR>
    <br>
    <h2>Securities:</h2>
    {{user_account.portfolio.fin_products}} <br>
    <h2>Portfolio value:</h2>
    <br>

    <img src="/static/portfolio.png">

    <br>

    current value securities: {{user_account.portfolio.value(market,current_date)}}, cash:  {{user_account.portfolio.cash_account.value()}}, total value: {{user_account.portfolio.value(market,current_date) + user_account.portfolio.cash_account.value()}}
    <br>
    <br>

    <h2>Pending trades</h2>
<style>
    table, th, td {
      border: 1px solid black;
}
</style>
 <table>
     <tr><td>Action</td><td>Symbol</td><td>Amount</td></tr>
     {% for trade in user_account.trade_list %}
     <tr>
         <td>{{trade['Order Type']}}</td>
         <td>{{trade.Ticker}}</td>
         <td>{{trade.Amount}}</td>
    </tr>
        {% endfor %}
     </table>
    <br>
    <form method="post">
        <p><button type="submit" name="add_trade"/>Add trades</button</p>
    </form>
    <br><br>
    <form method="post">
        <p><button type="submit" name="execute_trades"/>Execute trades</p>
    </form>
    <form method="post">
        <p><button type="submit" name="current_date">Last available date</button></p>
    </form>
    <form method="post">
        <p><button type="submit" name="next_day"/>Next day</button></p>
    </form>

    <HR>
    <br>
    <img src="https://townsquare.media/site/812/files/2015/02/50-cent-get-rich-die-tryin.jpg?w=980&q=75" />
</body>
</html>