{% extends "layout.html"%}
{% block content %}
        <form method="POST">
            <b><label for="list-1">Stock</label></b>
            <select name="stock">
                <option value="OEDV">Osage Exploration and Development, Inc.</option>
                <option value="AAPL">Apple Inc.</option>
                <option value="BAC">Bank of America Corporation</option>
                <option value="AMZN">Amazon.com, Inc.</option>
                <option value="T">AT&T Inc.</option>
                <option value="GOOG">Alphabet Inc.</option>
                <option value="MO">Altria Group, Inc.</option>
                <option value="DAL">Delta Air Lines, Inc.</option>
                <option value="AA">Alcoa Corporation</option>
                <option value="AXP">American Express Company</option>
                <option value="DD">E. I. du Pont de Nemours and Company</option>
                <option value="BABA">Alibaba Group Holding Limited</option>
                <option value="ABT">Abbott Laboratories</option>
                <option value="UA">Under Armour, Inc.</option>
                <option value="AMAT">Applied Materials, Inc.</option>
                <option value="AMGN">Amgen Inc.</option>
                <option value="AAL">American Airlines Group Inc.</option>
                <option value="AIG">American International Group, Inc.</option>
                <option value="ALL">The Allstate Corporation</option>
                <option value="ADBE">Adobe Systems Incorporated</option>
                <option value="GOOGL">Google Inc.</option>
                <option value="ACN">Accenture plc</option>
                <option value="ABBV">AbbVie Inc.</option>
                <option value="MT">ArcelorMittal</option>
                <option value="LLY">Eli Lilly and Company</option>
                <option value="AGN">Allergan plc</option>

            </select>
            <br>
            <b>Amount:</b>
            <input type="number" name="number", label="" />
            <br>
            <b><label for="list-2">Order Type</label></b>
            <select name="type">
                <option value="Buy">Buy</option>
                <option value="Sell">Sell</option>
                <option value="Stop-Loss">Stop-Loss</option>
                <option value="limit-Order">limit-Order</option>
            </select>
            <br>
            <b>Press GO! when you are ready</b>
            <button type="submit">Submit!</button>
        </form>
{% endblock content %}
