<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>Get Rich or Die Trying - {{ title }}</title>
    {% else %}
    <title>Get Rich or Die Trying</title>
    {% endif %}
    <h1>Get Rich or Die Trying Trading platform</h1>
    <h2>Please specify the trade you would like to make</h2>
</head>
    <body>
        <form method="POST">
            <b><label for="list-1">Stock</label></b>
            <select name="stock">
                <option value="GOOGL">GOOGL</option>
                <option value="MSFT">MSFT</option>
            </select>
            <br>
            <b>Amount:</b>
            <input type="number" name="number", label="" />
            <br>
            <b><label for="list-2">Order Type</label></b>
            <select name="type">
                <option value="Buy">Buy</option>
                <option value="Sell">Sell</option>
                <option value="Stop-Loss">Stop-Loss</option>
                <option value="limit-Order">limit-Order</option>
            </select>
            <br>
            <b>Press GO! when you are ready</b>
            <button type="submit">Submit!</button>
        </form>
    </body>
</html>

